
// Chart set up

.chart-header{
  border-top: #E7E7E7;
  height: 40px;
  border-bottom: #E7E7E7;
}

.chart {
  border-left:1px solid #E7E7E7;
  border-bottom:1px solid #E7E7E7;
  margin:60px auto;
  position:relative;
}

.y {
  position:absolute;
  bottom:0;
  padding:5px;
}

.x {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

// Bar Chart

.bar  {
  background: #3E50B4;
  position:absolute;
  bottom:0;

  &:nth-of-type(even) {
    background: #009587;
  }
}



// Dot chart

.dot, .dot-second {
  background: #3E50B4;
  width:10px;
  height:10px;
  border-radius:50%;
  position:absolute;
}

.dot-second {
  background: #009587;
}

// SVG line chart
svg {
  position:absolute;
  transform:rotateX(180deg);
  left:0;
}

line  {
  stroke: #3E50B4;
  stroke-width:3px;
}



// Commons

.label {
  position: absolute;
  top: -2px;
  opacity: .8;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}