<table class="table table-bordered table-responsive table-striped table-hover" >
  <thead>
    <tr>
      <th class="contact-table-order col-lg-3" data-ng-class="{asc: reverse === true && predicate === 'name', desc: reverse === false && predicate === 'name'}" data-ng-click="predicate = 'name'; reverse=!reverse; ">Name</th>
      <th class="col-lg-2 col-sm-3 col-xs-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in filteredData = (listContacts | orderBy:predicate:reverse | filter:search) | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
      <td>{{item.name}}</td>
      <td>
        <button class="btn btn-primary btn-outline" data-ng-click="edit(item._id);" ><span class="hidden-xs">EDIT</span><span class="visible-xs">✔</span></button>
        <button class="btn btn-danger btn-outline" data-ng-click="delete(item._id);" ><span class="hidden-xs">DELETE</span><span class="visible-xs">✖</span></button>
      </td>
    </tr>
  </tbody>
</table>
